<h1>About page</h1>
<p>This is the about page for the basics of the setup page<p>
<p>We don't have a whole lot of information in here; however, I think the about  page is super awesome because it talks about us, about OUR essence as well as WHO we are. WE ARE TEH IMAGINE SETUPERS BLARRRGGHHHHH!!!</p>
